@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
*{
  padding: 0;
  margin: 0;
  box-sizing:border-box ;
  font-family: outfit;
}

body{
  min-height: 100vh;
  background-color: #fcfcfc;
}
a{
  text-decoration: none;
  color: inherit;
}
hr{
  border: none;
  height: 1px;
  background-color: #a9a9a9;
}
.app-content{
  display: flex;
  
 
}
.flex-col{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.curser{
  cursor: pointer;
}
@media (max-width: 900px) {
  .app-content {
    margin-left: 0;
  }
}
@keyframes scaleUp {
  from {
    transform: scale(0.8);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

.animate-scaleUp {
  animation: scaleUp 0.3s ease-out;
}