/* Modal overlay background */
.modal {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 50%;
}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

ul {
    padding: 0;
    list-style: none;
}

.left-side {
    max-height: 150px;
    /* Adjust this value based on the height of each item */
    overflow-y: auto;
    /* Enable vertical scrolling if content exceeds the height */
    margin-bottom: 20px;
}

.ingredient-item {
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Styling for the input and save button section */
.input-save-section {
    margin-top: 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.single-textarea {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    max-width: 300px;
    height: 100px;
    /* Adjust height as needed */
    border: 2px solid #ddd;
    border-radius: 4px;
    resize: none;
    /* Prevents resizing if not needed */
}

.save-btn {
    padding: 10px 20px;
    background-color: #798DC5;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* .save-btn:hover {
    background-color: #45a049;
} */
/* Adjust the total calorie display */
.total-calories {
    margin-bottom: 20px;
    margin-top: 20px;
    text-align:left;
    font-size: 18px;
    color: #333;
    font-weight: bold;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
    .modal-content {
        width: 90%;
        padding: 15px;
    }

    .modal-content h2 {
        font-size: 20px;
    }

    ul li {
        font-size: 16px;
    }
}