.order-item{
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr;
    align-items: start;
    gap: 30px;
    border: 1px solid #798DC5;
    padding: 20px;
    margin: 30px 0px;
    font-size: 14px;
    color: #505050;

}
.order-item-food, .order-item-name{
        font-weight: 600;
}
.order-item-name{
    margin-top: 30px;
    margin-bottom: 5px;
}
.order-item-address{
    margin-bottom: 10px;
}
.order-address-message{
    margin-bottom: 8px;
}
.order-item select{
    background-color: #b5c8f4;
    border: 1px solid #798DC5;
    width: max(10vw,120px);
    padding: 10px;
    outline: none;
}
.tabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.tab {
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    cursor: pointer;
}

.tab.active {
    background-color: #007bff;
    color: #fff;
    font-weight: bold;
    border-color: #007bff;
}

@media (max-width:1000px) {
    .order-item {
        font-size: 12px;
        grid-template-columns: 12px;
        padding: 15px 8px;
    }

    .order-item select {
        padding: 5px;
        font-size: 12px;
    }

    .order-item img {
        width: 40px
    }

}
/* @media (max-width:1000px) {
    .order-item{
        font-size:12px;
        grid-template-columns: 12px;
        padding: 15px 8px;
    }
    .order-item select{
        padding: 5px;
        font-size: 12px;
    }
    .order-item img{
        width:40px
    }
    
} */